name: CI
on: [ push, pull_request, workflow_dispatch ]
jobs:
  CI:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-22.04
            nginx-version: 1.23.0
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
          APT_KEY_DONT_WARN_ON_DANGEROUS_USAGE: 1
        run: |
          # for Test::Nginx
          curl -sSL "https://openresty.org/package/pubkey.gpg" | sudo -E apt-key add -
          echo "deb https://openresty.org/package/ubuntu $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/openresty.list
          sudo apt-get update
          sudo -E apt-get install -y libtest-nginx-perl redis-server
      - name: Install nginx
        env:
          NGINX_VERSION: ${{ matrix.nginx-version }}
        run: ci/install-nginx.sh --add-module=${{ github.workspace }}/
      - name: Build Redis rate limiter module
        run: ci/build-rate-limiter.sh
      - name: Install Redis rate limiter module
        run: |
          sudo mkdir -p /usr/lib/redis/modules
          sudo mv rate-limiter/ratelimit.so /usr/lib/redis/modules/
      - name: Load Redis rate limiter module
        run: |
          # Redis < 7
          redis-cli MODULE LOAD /usr/lib/redis/modules/ratelimit.so
          # Redis >= 7 (due to `enable-module-command no` restriction)
          # echo "loadmodule /usr/lib/redis/modules/ratelimit.so" | sudo tee -a /etc/redis/redis.conf
          # sudo service redis-server restart
      - name: Prepare environment
        run: echo "$HOME/nginx/sbin" >> $GITHUB_PATH
      - name: Run integration tests
        run: prove -r t
